# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
myenv/
.venv/
venv/

# -----------------------------
# Notes / temp files
# -----------------------------
*.txt
*.pdf

# -----------------------------
# Editor / OS
# -----------------------------
.vscode/
.DS_Store
Thumbs.db
